/*
Color 1, kind of white: #FFFFFF
Color 2, kind of light blue hue: #83D8F8
Color 3, kind of medium blue hue: #00AFF0
Color 4, kind of dark blue hue: #4B465A
Color 5, kind of green: #87C80A
*/

body { 
	background-color: #83D8F8; 
	color: #FFFFFF; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}


/** 
*Header
*Is the div that contains the site identity, namely the logo and the tag line. 
*/

#header {
    color: #00AFF0; /*#4B465A;*/
    background-color: #83D8F8; 
    font-size: large;
    font-weight: bold;
    float: left;
    text-align: center;
}

#header a{
	color: #00AFF0; /*#4B465A;*/
	text-decoration: none;
}

#header small{
    font-size: small;
    font-style:italic;
    font-weight: bolder;
}






/* Special divs needed when you want to split the screen */
/*
#split_main {
    border: 0px none;
    float: left;
}
#split_dynamic {
    border: 1px solid black;
    float: right;
}
*/

/* Navigation */

#operator_nav {
    text-align: right;
    float: right;
    color: #4B465A;
    text-decoration: none;
}

#operator_nav a:HOVER{
    text-decoration: underline;
}

#operator_nav a{
    text-decoration: none;
    color: #4B465A;
}

#operator_nav.login {
    text-align: right;
    float: right;
}




/* 
Menu is a menu with the following html structure.
<div id="menu_container">
  <ul id="menu_list">
    <li><a href="http://appuntamentando.com/operators">Operatori</a></li>
    <li><a href="http://appuntamentando.com/customers">Clienti</a></li>
    <li><a href="http://appuntamentando.com/meetings">Appuntamenti</a></li>
    <li><a href="http://appuntamentando.com/worksheets">Agenda Quotidiana</a></li>
    <li><a href="http://appuntamentando.com/admin">Amministrazione</a></li>
  </ul>
</div> 
*/

#menu_container {
    float: none;
    clear: both;
    margin-bottom: 0px;
}

#menu_container ul {
    background-color: #83D8F8;
    color: white;
    border-bottom: 1px solid #FFFFFF;
    padding-left: 0;
    margin-left: 0;
    float: left;
    width: 100%;
    /*
    font-family: arial, helvetica, sans-serif;
    */    
}

#menu_container ul li { 
    display: inline;
}

#menu_container ul li a {
    float: left;
    background-color: #FFFFFF;
    color: #4B465A;
    padding: 0.2em 1em;
    margin-right: 3px;
    text-decoration: none;
    border-right: 1px solid #00AFF0;
    border-top: 1px solid #00AFF0;
}

#menu_container ul li a:hover {
    background-color: #4B465A;
    color: #FFFFFF;
}

/** 
*Content
*Is the div that contains the main content. 
*/
#content {
	background-color: #FFFFFF;
	color: #4B465A;
    border-right: 1px solid #00AFF0;
    border-bottom: 1px solid #00AFF0;	
    clear: both;  
	position:relative;
	top:-14px;
	left:0px;
    margin: 0px;
    padding: 10px;  
}





/* Flashes */

.flash {
    clear: both;
    padding-top: 10px;
}
.flash_notice, .flash_warning, .flash_error, #log {
    clear: both;
    border: 1px solid;
    margin: 10px 50px 10px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.flash_notice {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/flash_notice.png');
}
.flash_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/flash_warning.png');
}
.flash_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/flash_error.png');
}
#log {
    color: #609FFF;
    background-color: #AFCFFF;
}









/* Tables */

tr.odd {
    background-color: #FFFFFF;
}

tr.even {
    background-color: #83D8F8;
}

table{
    border: none;
}







/* Worksheet */

#worksheet {
    border: 2px solid #4B465A;
    border-collapse:collapse;
    background: #FFFFFF;
}

#worksheet td {
    vertical-align: top;
    border: 1px solid #4B465A;
    padding:2px;
    width:100px;
}

#worksheet .meeting_alerted {
    background-color: #87C80A;
    border: 1px solid #4B465A;
    margin: 2px;
    padding: 2px;
}

#worksheet .meeting_unalerted {
    background-color: #83D8F8;
    border: 1px solid #4B465A;
    margin: 2px;
    padding: 2px;
}

#worksheet .time {
    margin: 2px;
    padding: 2px;
    font-family: monospace;
    font-size: small;
}



/* Extra style to be applied on a hovering element */
.hovering {
    background-color: #4B465A;
    color: #FFFFFF;
}

/* The table meant to show a list of editable items */
table.items {
    border-width: 0px;
    border-style: none;
    border-collapse: collapse;
}

table.items td.controls {
    width: 120px;
    border-bottom: none;
}

table.items div.controls {
    display: none;
    margin-left: 5px;
    margin-right: 5px;
}

table.items td {
    height:38px;
    border-width: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
}

div.btn_show {
    display: inline;
}
