#operator_nav {
}

#worksheet {
	border: 2px solid black;
	border-collapse:collapse;
}

#worksheet td {
	vertical-align: top;
	border: 1px solid black;
	padding:2px;
	width:100px;
}

#worksheet .meeting {
	background-color: #DFD;
	border: 1px solid green;
	margin: 2px;
	padding: 2px;
}

#worksheet .time {
	margin: 2px;
	padding: 2px;
	font-family: monospace;
}

#header {
	font-family: arial, helvetica, sans-serif;
	color: green;
	font-size: large;
}

#header small{
	font-family: arial, helvetica, sans-serif;
	color: green;
	font-size: large;
	font-style:italic;
}

#menu_container ul {
	padding-left: 0;
	margin-left: 0;
	background-color: green;
	color: white;
	float: left;
	width: 100%;
	font-family: arial, helvetica, sans-serif;
}

#menu_container ul li { 
	display: inline; 
}

#menu_container ul li a {
	padding: 0.2em 1em;
	background-color: #036;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

#menu_container ul li a:hover {
	background-color: #369;
	color: #fff;
}
