<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Promemoria appuntamento presso "Estetica Le Rose"</h1>  
    <p>
      Ciao Paolo, questo promemoria è per ricordarti il tuo appuntamento presso il nostro punto vendita di 
      via Giappone, 4.
    </p>
    <p>
      I dettagli dell'appuntamento: <br/>
      <strong>
      Mercoledi 14 Agosto 2010, alle 10:00 <br/>
      per Maniure unghie.
      </strong>
    </p>
    <p>
      Nel caso tu abbia la necessità di spostare l'appuntamento non esitare a contattarci ad uno
      dei nostri contatti.
      <ul>
        <li>Telefonando al 02/34343434</li>
        <li>Inviando una mail a info@esteticalefate.com</li>
      </ul>
    </p>
  </body> 
</html> 
